# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/

# Distribution / packaging
build/
dist/
*.egg-info/

# VS Code settings
.vscode/

# OS-specific files
.DS_Store
Thumbs.db


tf_directml_env_py39/
# Ignore the saved model and tokenizers
app/models/saved_model/

# Ignore the training JSON file
app/models/data/text/training_data.json
